{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url({% static 'core/assets/img/slide/slider-4.jpg' %})">
        <div class="container">
          <h2>Veterinary Hospital Management System</span></h2>
          <p>Helps you manage your veterinary clinic and make interaction with clients easier and more active.</p>
          <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item" style="background-image: url({% static 'core/assets/img/slide/slider-2.jpg' %})">
        <div class="container">
          <h2>Putting Your Pets First</h2>
          <p>When your pet needs specialized care, you don’t settle for anything less than the best. Neither do we.</p>
          <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: url({% static 'core/assets/img/slide/slider-3.jpg' %})">
        <div class="container">
          <h2>Pet Care</h2>
          <p>We have the very best vet doctors with top notch skills to give your pet the best health care.</p>
          <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 4 -->
      <div class="carousel-item" style="background-image: url({% static 'core/assets/img/slide/slider-1.jpg' %})">
        <div class="container">
          <h2>Pet Training</h2>
          <p>We make your more hospitable, comfortable and happy all the time.</p>
          <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="title"><a href="">Emergency Services</a></h4>
            <p class="description">We offer 24/7 Emergency care – no referrals needed. Call 0222222225 for more details.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="fas fa-pills"></i></div>
            <h4 class="title"><a href="">Animal Owners</a></h4>
            <p class="description">Your pets are your world. Caring for them is ours.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="fas fa-thermometer"></i></div>
            <h4 class="title"><a href="">My Vet Store Online</a></h4>
            <p class="description">Get the right medication for your pets now.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="fas fa-dna"></i></div>
            <h4 class="title"><a href="">Veterinarians</a></h4>
            <p class="description">Make a referral and explore continuining education opportunities.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Featured Services Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="text-center">
        <h3>In an emergency? Need help now?</h3>
        <p> Do you have any emergency? Make an emergency appointment now and get immediate care for your pet 24/7.</p>
        <a class="cta-btn scrollto" href="#appointment">Make an Make an Appointment</a>
      </div>

    </div>
  </section><!-- End Cta Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
        
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <img src="{% static 'core/assets/img/about-2.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content align-self-center" data-aos="fade-left">
          
            <p>
              <b>Veterinary Hospital Management System (VHMS)</b>  is a multi-doctor companion animal veterinary practice system. <br> <br>
               We strive to tailor each treatment plan to the individual needs of the owner and pet at an affordable cost. <br><br>
              <b>VHMS</b> has been supported by diverse veterinary clinics who, each day, teach us the art of caregiving, devotion, and
              trust. Our system helps veterinary clinics to manage their clients, pet data and all activities that goes on day in day
              out in the clinic
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>
          Our specialized services are Patient management, Patient diagnoses updates, treatment updates, Social Media updates and
          Database management and many other services that will make running your facility much easier and flexible to operate.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon"><i class="fas fa-heartbeat"></i></div>
          <h4 class="title"><a href="">Providing Comprehensive Care</a></h4>
          <p class="description">Just as your primary care physician might refer you to a specialist to address a complex medical issue, general veterinarians refer patients to us for specialized care.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon"><i class="fas fa-pills"></i></div>
          <h4 class="title"><a href="">Wellness Exams and Vaccinations</a></h4>
          <p class="description">Annual wellness exams and vaccinations are important in keeping your pet healthy. Our veterinarians will examine your pet and recommend all necessary preventive care.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon"><i class="fas fa-hospital-user"></i></div>
          <h4 class="title"><a href="">Sick & Emergency Visits</a></h4>
          <p class="description">We offer sick and emergency visits during our regular clinic hours. Please call our clinic (610) 255-5145 during regular office hours.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon"><i class="fas fa-dna"></i></div>
          <h4 class="title"><a href="">Surgery and Dental Treatments</a></h4>
          <p class="description">Our clinic offers routine and advanced surgeries and dental cleanings. Surgeries include spays, neuters, soft tissue, and orthopedic surgery. </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon"><i class="fas fa-wheelchair"></i></div>
          <h4 class="title"><a href="">Ultrasound Services</a></h4>
          <p class="description">Dr. Renee Simpler, a board-certified veterinary radiologist, performs abdominal and thoracic ultrasounds at our facility on a weekly basis.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon"><i class="fas fa-notes-medical"></i></div>
          <h4 class="title"><a href="">Rehabilitation and Physical Therapy</a></h4>
          <p class="description">Dr. Carrie Woodcock and Dr. Kate Sharon performed physical therapy and rehabilitation for pain management and mobility.</p>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Appointment Section ======= -->
  <section id="appointment" class="appointment section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Make an Appointment</h2>
        <p>Are you in an emergency help? Make an emergency appointment now and get immediate care for your pet 24/7.</p>
      </div>

      <form action="forms/appointment.php" method="post" role="form" class="php-email-form" data-aos="fade-up"
        data-aos-delay="100">
        <div class="row">
          <div class="col-md-4 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group mt-3">
            <input type="datetime" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date"
              required>
          </div>
          <div class="col-md-4 form-group mt-3">
            <select name="department" id="department" class="form-select">
              <option value="">Select Department</option>
              <option value="Department 1">Department 1</option>
              <option value="Department 2">Department 2</option>
              <option value="Department 3">Department 3</option>
            </select>
          </div>
          <div class="col-md-4 form-group mt-3">
            <select name="doctor" id="doctor" class="form-select">
              <option value="">Select Doctor</option>
              <option value="Doctor 1">Doctor 1</option>
              <option value="Doctor 2">Doctor 2</option>
              <option value="Doctor 3">Doctor 3</option>
            </select>
          </div>
        </div>

        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Make an Appointment</button></div>
      </form>

    </div>
  </section><!-- End Appointment Section -->

  <!-- ======= Departments Section ======= -->
  <section id="departments" class="departments">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Departments</h2>
        <p>VHMS has various departments which specialize in specific cases to make treatment easy.</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                <h4>Diagnostic Imaging</h4>
                <p>The Department of Diagnostic Imaging</p>
              </a>
            </li>
            <li class="nav-item mt-2">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                <h4>Emergency & Critical Care</h4>
                <p>The Department of Emergency & Critical Care</p>
              </a>
            </li>
            <li class="nav-item mt-2">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                <h4>Internal Medicine</h4>
                <p>The Department of Internal Medicine</p>
              </a>
            </li>
            <li class="nav-item mt-2">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                <h4>Oncology</h4>
                <p>The Department of Oncology</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-8">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <h3>Diagnostic Imaging</h3>
              <img src="{% static 'core/assets/img/departments-1.jpg' %}" alt="" class="img-fluid">
              <p>Sometimes we are unable to determine from a physical examination what may be troubling your pet. This can be frustrating to you and uncomfortable for your pet. When this happens, we use state-of-the-art noninvasive radiology to help diagnose many pet illnesses and injuries. The specialists we work with, called radiologists, correlate medical image findings with other examinations and tests to help in the diagnosis of many disease conditions.</p>
            </div>
            <div class="tab-pane" id="tab-2">
              <h3>Emergency & Critical Care</h3>
              <img src="{% static 'core/assets/img/departments-2.jpg' %}" alt="" class="img-fluid">
              <p>A board-certified specialist in emergency and critical care is a veterinarian who has obtained intensive, additional training in treating life-threatening conditions.
                <br>
                An emergency and critical care specialist can help in the following kinds of cases, among others:
              </p>
              <ul>
                <li>
                  Traumatic injury (including fractures, bite wounds, burns, lacerations)
                </li>
                <li>
                  Respiratory emergencies (including cases in which the use of ventilators is needed) Animals in need of blood transfusions Animals that are in shock
                </li>
                <li>
                  Animals with life threatening neurologic disease, such as coma or severe seizures
                </li>
              </ul>
            </div>
            <div class="tab-pane" id="tab-3">
              <h3>Internal Medicine</h3>
              
              <img src="{% static 'core/assets/img/departments-3.jpg' %}" alt="" class="img-fluid">
              <p>
                Like people, animals can develop a variety of illnesses requiring the skilled expertise of a knowledgeable, board-certified internal medicine specialist.
                <br><br>
                At VCA Veterinary Care Animal Hospital and Referral Center, our board-certified internists have extensive training, including specialized internships and residencies, and must pass rigorous examinations to achieve their certification.

              </p>
            </div>
            <div class="tab-pane" id="tab-4">
              <h3>Oncology</h3>
              
              <img src="{% static 'core/assets/img/departments-4.jpg' %}" alt="" class="img-fluid">
              <p>
                When your pet has been diagnosed with cancer, at VCA Veterinary Care Animal Hospital and Referral Center we understand how confusing and stressful it is for pet owners. 
                <br><br>
                There are many misconceptions and myths about pets with cancer and treatment, especially with chemotherapy. Dr. Wright and his medical oncology team are here to help and to replace the misconceptions and fear with knowledge and hope. We strive to be a source of information and strength for your pet and your family.

              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Departments Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>We are available to attend to all your queries promptly. You can contact us using any of the following media.</p>
      </div>

    </div>

    <div>
      <iframe style="border:0; width: 100%; height: 350px;"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7941.246644905778!2d-0.06524202337462018!3d5.622498833696165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf86967c110ddd%3A0xa496b85867725f46!2sSakumono%20Estate%2C%20Sakumono!5e0!3m2!1sen!2sgh!4v1667747659791!5m2!1sen!2sgh"
        frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container">

      <div class="row mt-5">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>Sakumono Estate, #10 Mango Street, Accra-Ghana</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>info@koneyvet.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>(+233) 254-264-435</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="7" placeholder="Message" required=""></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->
{% endblock content %}